@model OptiFabricMVC.Application.ViewModels.MachinesVM.ListMachinesVM

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
@if (User.IsInRole("Manager"))
{
    <a asp-action="AddMachine" class="btn btn-primary mb-3">
        <i class="fas fa-plus"></i> Dodaj nową maszynę
    </a>
}

<form asp-action="Index" asp-controller="Machines" method="get">
    <div class="row">
        <input type="text" asp-for="SearchString" name="searchString" id="searchString" value="@Model.SearchString"/>
        <input type="submit" value="Wyszukaj"/>
    </div>
    
        <select name="sortOrder" onchange="this.form.submit()">
            <option value="">Sortuj według</option>
            <option value="name_asc">Nazwa od A-Z</option>
            <option value="name_desc">Nazwa od Z-A</option>
            <option value="type_asc">Typ rosnąco</option>
            <option value="type_desc">Typ malejąco</option>
            <option value="status_asc">Według statusu</option>
            <option value="status_desc">Według statusu</option>
        </select>
    
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Typ</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var machines in Model.MachinesForListVms)
            {
                <tr>
                    <td>@machines.Name</td>
                    <td>@machines.Type</td>
                    <td>@machines.Status</td>
                    <td>
                    @Html.ActionLink("Szczegóły", "Details", new { id = machines.Id })
                    @if (User.IsInRole("Manager"))
                    {
                        @Html.ActionLink("Edytuj", "EditMachine", new { id = machines.Id })
                        @:
                        @Html.ActionLink("Usuń", "Delete", new { id = machines.Id })
                    }
                    </td>
                </tr>
            }
            </tbody>

        </table>
    </div>
    <div class="row">
        <ul class="pagination">
            @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link"
                       asp-action="Index"
                       asp-route-pageNo="@i"
                       asp-route-pageSize="@Model.PageSize"
                       asp-route-searchString="@Model.SearchString">
                        @i
                    </a>
                </li>
            }
        </ul>
    </div>
</form>